<%= form_for(@grade) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :range %><br>
    <%= f.text_field :range,:class=>"form-control", :required => true %>
  </div><br/>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade,:class=>"form-control", :required => true %>
  </div><br/>
  <div class="actions">
    <%= f.submit "Save",:class => "btn btn-primary pull-right" %>
  </div>
<% end %>
