<section class="content-header">
	<h1>
	  Grade
	  <small>Create, edit and view all grade</small>
    <span class="heading_page_loader"></span>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	  <li><%= link_to 'Grade', grade_path %></li>
	  <li><%= link_to @grade.grade, grade_path(@grade) %></li>
	  <li class="active">Edit</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edit Grade</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
           <%= form_for(@grade) do |f| %>
			  <% if @grade.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

			      <ul>
			      <% @grade.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <div class="field">
			    <%= f.label :range %><br>
			    <%= f.text_field :range,:class=>"form-control" %>
			  </div><br/>
			  <div class="field">
			    <%= f.label :grade %><br>
			    <%= f.text_field :grade,:class=>"form-control" %>
			  </div><br/>
			  <div class="actions">
			    <%= f.submit "Update",:class => "btn btn-primary pull-right" %>
			  </div>
			<% end %>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
</section>
<!-- /.content -->

<script type="text/javascript">
if (typeof CKEDITOR != 'undefined') { CKEDITOR.replace('sometext'); }
</script>

<script>
$(function() { $('form[data-validate]').validate(); })
</script>