<section class="content-header">
    <h1>
      Grade
      <small>Create, edit and view all Grades</small>
      <i class="fa fa-fw fa-question-circle" id="info_popover"  data-toggle = "tooltip" title = "Notification Type" data-content="Create New Grade & Manage Divisions Of Grades" data-trigger="hover" data-placement="bottom" style="font-size:16px;"></i>
      <span class="heading_page_loader"></span>
    </h1>
    <ol class="breadcrumb">
      <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Grades</li>
    </ol>
  </section>

  <!-- Main content -->
   <!-- Main content -->
  <section class="content">
    <%= render partial: "layouts/shared/flash_msg" %>
    <div class="row">
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-12">
            <!-- general form elements disabled -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">All Grades</h3>

                <%= link_to 'CREATE NEW GRADE', new_grade_path,:style => "float:right",:class => "btn btn-xs btn-primary" %>
              </div>
              <!-- /.box-header -->
              <div class="box-body table-responsive">
                <% if @grades.present? %>
                <table class="table table-bordered table-hover dataTable" id="grade_table">
                  <thead>
                    <tr>
                      <th>Range</th>
                      <th>Grade</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @grades.each do |grade| %>
                      <tr>
                        <td><%= grade.range %></td>
                        <td><%= grade.grade %></td>
                        <td>
                        <span class="label label-success">
                        <%= link_to '<i class="fa fa-pencil " style="color:white;font-weight:bold"></i>'.html_safe, edit_grade_path(grade) %>
                        </span>&nbsp;
                        <span class="label label-danger">
                        <%= link_to '<i class="fa fa-trash-o " style="color:white;font-weight:bold"></i>'.html_safe, grade, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </span></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                  <div class="text-center">Experience The Magic of Grade In A Few Clicks! Create Your First Grade!</div>
                <% end %>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
  </section>
  <!-- /.content -->

<script type="text/javascript">
$(document).ready(function() { 
  var aoColumnDefs = [
        {
            "aTargets": [2],
            "bSortable": false
        }
    ];
    var dataTable = $('#grade_table').dataTable({
      "aoColumnDefs": aoColumnDefs,
      "pageLength": 25
    });
});
</script>

<script>
$(document).ready(function(){
  $('#info_popover').popover()
});

</script>