<p id="notice"><%= notice %></p>

<p>
  <strong>Range:</strong>
  <%= @grade.range %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @grade.grade %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
