<div class="row">
  <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12" style="padding-top:4%;">
    <% if general.home_page_content.present? %>
      <%= general.home_page_content.html_safe %>
    <% end %>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
    <div class="sign-in-container">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post , :class => "login-wrapper" }) do |f| %>
        <%= devise_error_messages! %>
        <div class="header">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <h3>Resend confirmation instructions </h3><br/>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="form-group">
            <label for="rollNumber">Roll Number</label>
            <%= f.text_field :roll_number, autofocus: true,:class => "form-control",:placeholder => "Roll Number", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :required => true %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Resend confirmation instructions", :class=> "btn btn-success" %><br/><br/>
          <%= link_to "Login", new_session_path(resource_name), :class => "pull-right" %>  
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>