<div class="login-box">
  <div class="login-logo">
    <b>Rabbits</b>EDU
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Resend confirmation instructions</p>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true,:class => "form-control", :value => (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        <span class="fa fa-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-1"></div>
        <!-- /.col -->
        <div class="col-xs-10">
          <%= f.submit "Resend confirmation instructions",:class=>"btn btn-primary btn-block btn-flat" %>
        </div>
        <!-- /.col -->
        <div class="col-xs-1"></div>
      </div>
    <% end %>
      <div class="row">
        <div class="col-xs-1"></div>
        <!-- /.col -->
        <div class="col-xs-10">
          <b class="text-center" style="padding-left:40%;">OR</b><br/>
        </div>
        <!-- /.col -->
        <div class="col-xs-1"></div>
      </div> 
      <div class="row">
        <div class="col-xs-2"></div>

        <div class="col-xs-7">
          <%= link_to "Forgot your password?", new_password_path(resource_name) %> &nbsp;&nbsp; &nbsp;|
        </div>
        <div class="col-xs-2"><%= link_to "Login", new_session_path(resource_name) %></div>
                <!-- /.col -->
        <!-- /.col -->
      </div>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->