<div class="register-box">
  <div class="register-logo">
    <b>Rabbits</b>EDU
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register as a new membership</p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true,:class=> "form-control",:placeholder=>"Email" %>
        <span class="fa fa-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: "off",:class=>"form-control",:placeholder=>"Password" %>
        <span class="fa fa-lock form-control-feedback"></span>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control",:placeholder=>"Retype password" %>
        <span class="fa fa-retweet form-control-feedback"></span>
      </div>
      
      <div class="row">
        <div class="col-xs-8">
          Already Registered? <%= link_to "Login", new_session_path(resource_name) %>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <%= f.submit "Register",:class=> "btn btn-primary btn-block btn-flat" %>
        </div>
        <!-- /.col -->
      </div>
    <% end %>   
  </div>
  <!-- /.form-box -->
</div>