<%= form_for(@exam_result_subject,:url => examination_exam_result_exam_result_subjects_path(@examination.id,@exam_result.id)) do |f| %>
  <% if @exam_result_subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam_result_subject.errors.count, "error") %> prohibited this exam_result_subject from being saved:</h2>

      <ul>
      <% @exam_result_subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :examination_id, :value => @examination.id %>
    <%= f.hidden_field :exam_result_id, :value => @exam_result.id %>
    <%= f.label :subject_id %><br>
    <%= f.collection_select :subject_id, Subject.all, :id, :name, { :prompt => "Select Subject" }, { :class => "form-control validate_this",:required => true }  %>
  </div>
  <div class="field">
    <%= f.label :total_marks %><br>
    <%= f.number_field :total_marks, :class => "form-control",:required => true %>
  </div>
  <div class="field">
    <%= f.label :mark_obtained %><br>
    <%= f.number_field :mark_obtained, :class => "form-control",:required => true %>
  </div><br/>
  <div class="actions">
    <%= f.submit "Save",:class => "btn btn-primary pull-right"  %>
  </div>
<% end %>
