<section class="content-header">
  <h1>
    Exam Result
    <small>Create, edit and view all exam result</small>
    <span class="heading_page_loader"></span>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><%= link_to 'Examination', examinations_path %></li>
    <li><%= link_to @examination.exam_no , examination_path(@examination) %></li>
    <li><%= link_to 'Exam Results', examination_exam_results_path(@examination) %></li>
    <li class="active"><%= @exam_result.student.roll_number %></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"><%= @exam_result.student.roll_number %></h3>
          <div class = "pull-right">
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_examination_exam_result_path(@examination,@exam_result),:style=>"float:right;" %>
          <% if @exam_result.result_status == true %>
            <span class="badge bg-green">Active</span>
          <% else %>
            <span class="badge bg-yellow">Inactive</span>
          <% end %>&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p>
            <strong>Exam result:</strong>
            <%= @exam_result_subject.exam_result_id %>
          </p>

          <p>
            <strong>Subject:</strong>
            <%= @exam_result_subject.subject_id %>
          </p>

          <p>
            <strong>Grade:</strong>
            <%= @exam_result_subject.grade %>
          </p>

          <p>
            <strong>Total marks:</strong>
            <%= @exam_result_subject.total_marks %>
          </p>

          <p>
            <strong>Mark obtained:</strong>
            <%= @exam_result_subject.mark_obtained %>
          </p>
        </div>
        <!-- /.box-body -->
      </div>

      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
</section>