<footer >
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-lg-12 footer-below">
                <p>Copyright &copy; <%= Time.now.year %>. All rights reserved <a href="<%= root_path %>"><%= $website_url %></a>
                <br>Powered by <a href="http://www.coderabbits.com/">Code Rabbits</a>.
                <%= link_to '<i class="fa fa-lock"></i>'.html_safe, new_admin_session_path ,:target => "blank", :title => "login",:style => "float: right;border: 1px solid #b84d45;padding: 5px 9px;float: right;font-size: 13px;color: #b84d45;" %></p>
            </div>
        </div>
    </div>
</footer>