<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path %>">
              <% if general.logo.present? %>
                <%= image_tag general.logo,:class => "pull-right",:alt => "Logo",:style => "margin-top: -11px;height: 44px;" %>
              <% else %>
                LOGO
              <% end %>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="<%= examination_result_path %>" title="Examination Results" class="<%= action_name == "examination_result" ? "header_active" : "" %>">EXAMINATION RESULTS</a>
                </li>
                <li>
                  <% if !user_signed_in? %>
                    <li class="list-box user-profile">
                    <a href="<%= new_user_session_path %>" title="Student's Login" class="<%= controller_name == "sessions" || controller_name == "registrations" || controller_name == "passwords" || controller_name == "confirmations" ? "header_active" : "" %>"> STUDENT'S LOGIN </a>
                    </li>
                  <% else %>
                    <li class="list-box user-profile"><a href="<%= new_user_registration_path %>" title="Student Dashboard">Student Dashboard</a>
                    </li>
                  <% end %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>