<!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview <%= controller_name == 'dashboards' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-dashboard"></i> <span>Dashboard</span>'.html_safe,dashboards_path %> 
        </li> 
        <li class="treeview <%= controller_name == 'students' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-files-o"></i> <span>Students</span>'.html_safe,students_path %>
        </li>
        <li class="treeview <%= controller_name == 'examinations' || controller_name == 'exam_results' || controller_name == 'exam_result_subjects' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-file-text-o"></i> <span>Examinations</span>'.html_safe,examinations_path %>
        </li>
         <li class="treeview <%= controller_name == 'subjects' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-folder"></i> <span>Subjects</span>'.html_safe,subjects_path %>
        </li>
         <li class="treeview <%= controller_name == 'grades' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-money"></i> <span>Grade</span>'.html_safe,grades_path %>
        </li>
        <li class="treeview <%= controller_name == 'academic_levels'  ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-book"></i> <span>Academics Level</span>'.html_safe,academic_levels_path %>
        </li>
        <li class="treeview <%= controller_name == 'admissions'  ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-book"></i> <span>Admissions</span>'.html_safe,admissions_path %>
        </li>
        <li class="treeview <%= controller_name == 'notification_types' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-image"></i> <span>Notification Types</span>'.html_safe,notification_types_path %>
        </li>
        <li class="treeview <%= controller_name == 'dynamic_contents' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-file-word-o"></i> <span>Dynamic Contents</span>'.html_safe,dynamic_contents_path %>
        </li>
        <li class="treeview <%= controller_name == 'users' && action_name == 'index' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-user"></i> <span>Users</span>'.html_safe,users_path %>
        </li>
        <li class="treeview <%= controller_name == 'generals' ? 'active' : '' %>">
          <%= link_to '<i class="fa fa-gear"></i> <span>Generals</span>'.html_safe,generals_path %>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>


<script>
$(document).on("page:fetch", function(){
  $(".heading_page_loader").html('<i class="fa fa-spinner fa-spin" style="font-size:20px;"></i>');
});

</script>