<footer>
	<p>&copy; <%= $website_url %> <%= Time.now.year %>
    <%= link_to '<i class="fa fa-lock"></i>'.html_safe, new_admin_session_path ,:target => "blank", :title => "login",:style => "float:right;border: 1px solid white;padding: 1px 10px;float: right;font-size: 13px;color:white;" %>
	</p>
</footer>