  <!-- Sub Nav End -->
  <div class="sub-nav hidden-sm hidden-xs">
    <ul>
      <% if controller_name == "student_notifications" && action_name == 'dashboard' %>
        <li><a href="<%= students_dashboard_path %>" class="heading">Dashboard</a></li>
      <% elsif controller_name == "student_notifications" && action_name == 'index' %>
        <li><a href="<%= students_dashboard_path %>" class="heading">Dashboard</a></li>
        <li class="hidden-sm hidden-xs">
          <a>Notification</a>
        </li>
      <% elsif controller_name == "student_notifications" && action_name == 'show' %>
        <li><a href="<%= students_dashboard_path %>" class="heading">Dashboard</a></li>
        <li class="hidden-sm hidden-xs">
          <a href="<%= student_notifications_path %>">Notification</a>
        </li>
        <li class="hidden-sm hidden-xs">
          <a><%= @notification_type.name %></a>
        </li>
      <% elsif controller_name == "student_notifications" && action_name == 'showcase' %>
        <li><a href="<%= students_dashboard_path %>" class="heading">Dashboard</a></li>
        <li class="hidden-sm hidden-xs">
          <a href="<%= student_notifications_path %>">Notification</a>
        </li>
        <li class="hidden-sm hidden-xs">
          <a href="<%= student_notification_path(@notification) %>"><%= @notification.name %></a>
        </li>
        <li class="hidden-sm hidden-xs">
          <a>Info</a>
        </li>
      <% end %>
    </ul>
    <div class="custom-search hidden-sm hidden-xs">
    </div>
  </div>
  <!-- Sub Nav End -->
