<!-- Header Start -->
    <header>
      <a href="<%= root_path %>" class="logo">
        <% if general.logo.present? %>
          <%= image_tag general.logo,:class => "pull-right",:alt => "Logo",:style => "height: 59px !important;" %>
        <% else %>
          <div class="" style ="color: white;font-size: 16px;" >LOGO</div>
        <% end %>
      </a>
      <div class="pull-right">
        <ul id="mini-nav" class="clearfix">
          <li class="list-box dropdown">
            <a id="drop5" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-calendar"></i>
            </a>
            <span class="info-label success-bg"><%= pending_notification_count %></span>
            <% if pending_notification_count > 0 %>
              <ul class="dropdown-menu server-activity">
                <% @pending_notifications.each do |pending_notification| %>
                    <% if pending_notification.dynamic_contents.count > 0 %>
                      <% @pending_notify = pending_notification.dynamic_contents.where("created_at >= ?", @current_user.notification_view).where(:status => true) %>
                      <% if @pending_notify.present? %>
                      <li>
                        <p><i class="fa fa-flag <%= pending_notification_symbol(pending_notification) %>"></i><%= pending_notification.name %><span class="time"><%= pending_notification.dynamic_contents.count %></span></p>
                      </li>
                    <% end %>
                    <% end %>
                <% end %> 
              </ul>
            <% end %>
          </li>
          <li class="list-box user-profile">
            <a id="drop7" href="#" role="button" class="dropdown-toggle user-avtar" data-toggle="dropdown"><%= current_user.email %><br/><%= current_user.roll_number %>&nbsp;&nbsp;<i class="fa fa-sort-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu server-activity">
              <li>
                <a href="<%= edit_user_registration_path %>" style="color:black;padding:0px"><i class="fa fa-cog text-info"></i> Account Settings</a>
              </li>
              <li>
                <div class="demo-btn-group clearfix">
                  <a href="#" data-original-title="" title="">
                    <i class="fa fa-facebook fa-lg icon-rounded info-bg"></i>
                  </a>
                  <a href="#" data-original-title="" title="">
                    <i class="fa fa-twitter fa-lg icon-rounded twitter-bg"></i>
                  </a>
                  <a href="#" data-original-title="" title="">
                    <i class="fa fa-linkedin fa-lg icon-rounded linkedin-bg"></i>
                  </a>
                  <a href="#" data-original-title="" title="">
                    <i class="fa fa-pinterest fa-lg icon-rounded danger-bg"></i>
                  </a>
                  <a href="#" data-original-title="" title="">
                    <i class="fa fa-google-plus fa-lg icon-rounded success-bg"></i>
                  </a>
                </div>
              </li>
              <li>
                <div class="demo-btn-group clearfix">
                  <a href="<%= destroy_user_session_path %>" class="btn btn-danger" style="padding-top:8px !important;padding-bottom:8px !important;" data-method="delete">
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </header>
    <!-- Header End -->