<!-- Top Nav Start -->
<div id='cssmenu'>
  <ul>
    <li class='<%= controller_name == 'student_notifications' && action_name == 'dashboard' ? 'active' : '' %>'>
      <a href='<%= students_dashboard_path %>'><i class="fa fa-dashboard"></i>Dashboards</a>
    </li>
    <li class='<%= controller_name == 'student_notifications' && (action_name == 'show' || action_name == 'showcase' || action_name == 'index')  ? 'active' : '' %>'>
      <a href='#'><i class="fa fa-flask"></i>Notifications</a>
      <ul>
        <% notification_types.each do |notification_type| %>
          <li><a href='<%= student_notification_path(notification_type) %>'><%= notification_type.name %></a></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
<!-- Top Nav End -->