<%= form_for(@exam_result,:url => examination_exam_results_path(@examination.id)) do |f| %>
  <% if @exam_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam_result.errors.count, "error") %> prohibited this exam_result from being saved:</h2>

      <ul>
      <% @exam_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  <div class="field">
    <%= f.hidden_field :examination_id, :value => @examination.id %>
    <%= f.label :student %><br>
    <%= f.collection_select :student_id, Student.all, :id, :name, { :prompt => "Select Student" }, { :class => "form-control validate_this", :required => true }   %>
  </div><br/>
  <div class="actions">
    <%= f.submit "Save",:class => "btn btn-primary pull-right"  %>
  </div>
<% end %>
