<section class="content-header">
	<h1>
	  Exam Result
	  <small>Create, edit and view all examination</small>
    <span class="heading_page_loader"></span>
	</h1>
  <ol class="breadcrumb">
    <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><%= link_to 'Examination', examinations_path %></li>
    <li><%= link_to @examination.exam_no , examinations_path(@examination) %></li>
    <li><%= link_to 'Exam Results', examination_exam_results_path(@examination) %></li>
    <li class="active"><%= @exam_result.student.roll_number %></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edit Exam Result</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <%= render 'form' %>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
</section>
<!-- /.content -->