<section class="content-header">
    <h1>
      Examination
      <small>Create, edit and view all Examinations</small>
      <i class="fa fa-fw fa-question-circle" id="info_popover"  data-toggle = "tooltip" title = "Examinations" data-content="Create New Examination & Manage Divisions Of Examinations" data-trigger="hover" data-placement="bottom" style="font-size:16px;"></i>
      <span class="heading_page_loader"></span>
    </h1>
    <ol class="breadcrumb">
      <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><%= link_to 'Examination', examinations_path %></li>
      <li><a href="<%= examination_path(@examination) %>"><%= @examination.exam_no %></a></li>
      <li class="active">Exam Result</li>
    </ol>
  </section>

  <!-- Main content -->
   <!-- Main content -->
  <section class="content">
    <%= render partial: "layouts/shared/flash_msg" %>
    <div class="row">
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-12">
            <!-- general form elements disabled -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">All Examinations</h3>

                <%= link_to 'CREATE NEW EXAMINATION', new_examination_path,:style => "float:right",:class => "btn btn-xs btn-primary" %>
              </div>
              <!-- /.box-header -->
              <div class="box-body table-responsive">
                <% if @exam_results.present? %>
                <table class="table table-bordered table-hover dataTable" id="examination_table">
                  <thead>
                    <tr>
                      <th>Examination</th>
                      <th>Student</th>
                      <th>Total score</th>
                      <th>Result status</th>
                      <th>Published at</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @exam_results.each do |exam_result| %>
                      <tr>
                        <td><%= exam_result.examination.exam_no %></td>
                        <td><%= exam_result.student.name %></td>
                        <td><%= exam_result.total_score %></td>
                        <td><%= exam_result.result_status %></td>
                        <td><%= exam_result.published_at %></td>
                        <td>
                        <span class="label label-info">
                        <%= link_to '<i class="fa fa-eye " style="color:white;font-weight:bold"></i>'.html_safe, examination_exam_result_path(@examination , exam_result) %>
                        </span>&nbsp;
                        <span class="label label-success">
                        <%= link_to '<i class="fa fa-pencil " style="color:white;font-weight:bold"></i>'.html_safe, edit_examination_exam_result_path(@examination , exam_result) %>
                        </span>&nbsp;
                        <span class="label label-danger">
                        <%= link_to '<i class="fa fa-trash-o " style="color:white;font-weight:bold"></i>'.html_safe, examination_exam_result_path(@examination , exam_result), method: :delete, data: { confirm: 'Are you sure?' } %>
                        </span></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                  <div class="text-center">Experience The Magic of Examination In A Few Clicks! Create Your First Examination!</div>
                <% end %>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
  </section>
  <!-- /.content -->

<script type="text/javascript">
$(document).ready(function() { 
  var aoColumnDefs = [
        {
            "aTargets": [4],
            "bSortable": false
        }
    ];
    var dataTable = $('#examination_table').dataTable({
      "aoColumnDefs": aoColumnDefs,
      "pageLength": 25
    });
});
</script>

<script>
$(document).ready(function(){
  $('#info_popover').popover()
});

</script>