<section class="content-header">
  <h1>
    Exam Result
    <small>Create, edit and view all exam result</small>
    <span class="heading_page_loader"></span>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><%= link_to 'Examination', examinations_path %></li>
    <li><%= link_to @examination.exam_no , examination_path(@examination) %></li>
    <li><%= link_to 'Exam Results', examination_exam_results_path(@examination) %></li>
    <li class="active"><%= @exam_result.student.roll_number %></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"><%= @exam_result.student.roll_number %></h3>
          <div class = "pull-right">
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_examination_exam_result_path(@examination,@exam_result),:style=>"float:right;" %>
          <% if @exam_result.result_status == true %>
            <span class="badge bg-green">Active</span>
          <% else %>
            <span class="badge bg-yellow">Inactive</span>
          <% end %>&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p>
            <strong>Examination:</strong>
            <%= @exam_result.examination.exam_no %>
          </p>

          <p>
            <strong>Student:</strong>
            <%= @exam_result.student.roll_number %>
          </p>

          <p>
            <strong>Total score:</strong>
            <%= @exam_result.total_score %>
          </p>

          <p>
            <strong>Result status:</strong>
            <%= @exam_result.result_status %>
          </p>

          <p>
            <strong>Published at:</strong>
            <%= @exam_result.published_at %>
          </p>
        </div>
        <!-- /.box-body -->
      </div>

      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
  <div class="row">
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-12">
        <!-- general form elements disabled -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">All Exam Results</h3>
            <%= link_to 'CREATE NEW EXAM RESULT', new_examination_exam_result_exam_result_subject_path(@examination,@exam_result),:style => "float:right",:class => "btn btn-xs btn-primary" %>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive">
            <% if @exam_result_subjects.present? %>
            <table class="table table-bordered table-hover dataTable" id="examination_table">
              <thead>
                <tr>
                  <th>Subject</th>
                  <th>Grade</th>
                  <th>Total Marks</th>
                  <th>Mark Obtained</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @exam_result_subjects.each do |exam_result_subject| %>
                  <tr>
                    <td><%= exam_result_subject.subject.name %></td>
                    <td><%= exam_result_subject.grade %></td>
                    <td><%= exam_result_subject.total_marks %></td>
                    <td><%= exam_result_subject.mark_obtained %></td>
                    <td>
                    <span class="label label-info">
                    <%= link_to '<i class="fa fa-eye " style="color:white;font-weight:bold"></i>'.html_safe, examination_exam_result_exam_result_subject_path(@examination, @exam_result, exam_result_subject) %>
                    </span>&nbsp;
                    <span class="label label-success">
                    <%= link_to '<i class="fa fa-pencil " style="color:white;font-weight:bold"></i>'.html_safe, edit_examination_exam_result_exam_result_subject_path(@examination, @exam_result, exam_result_subject) %>
                    </span>&nbsp;
                    <span class="label label-danger">
                    <%= link_to '<i class="fa fa-trash-o " style="color:white;font-weight:bold"></i>'.html_safe, examination_exam_result_exam_result_subject_path(@examination, @exam_result, exam_result_subject), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </span></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <% else %>
              <div class="text-center">Experience The Magic of Examination In A Few Clicks! Create Your First Examination!</div>
            <% end %>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!--/.col (right) -->
    </div>
</section>