<div class="row">
  <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
    <div class="new-users" style="padding-top:13%"> 
      <h3>Our Portal - Your Single-Window for All Information</h3><br/>    
      <div class="content">
        <p style="text-align:justify;padding-right:10%">Once your details are entered in our database, you will be sent an email containing a link to register as a user in our student-portal. Enter the roll number, and a valid password and register with us. This login credentials can be used to access all student information.</p>
        <div class="buttons-set">
          <%= link_to "Register Now", new_registration_path(resource_name),:class => "btn btn-success",:style=> "margin-left:31.5%;" %><br>
          <div class="social-or-login center" style="margin-top:20px;text-align: center;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
    <div class="sign-in-container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:class => "login-wrapper" }) do |f| %>
        <%= devise_error_messages! %>
        <div class="header">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <h3>Student's Login</h3><br/>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="form-group">
            <label for="rollNumber">Roll Number</label>
            <%= f.text_field :roll_number, autofocus: true,:class => "form-control",:placeholder => "Roll Number", :required => true %>
          </div>
          <div class="form-group">
            <label for="Password1">Password</label>
            <%= f.password_field :password, autocomplete: "off",:class => "form-control",:placeholder =>"Password", :required => true %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Login", :class=> "btn btn-success" %>
          <%= link_to "Register Now", new_registration_path(resource_name) %> &nbsp;&nbsp;&nbsp;
          <%= link_to "Forgot Password?", new_password_path(resource_name) %> 
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>