<section class="content-header">
	<h1>
	  Student
	  <small>Create, edit and view all student</small>
    <span class="heading_page_loader"></span>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	  <li><%= link_to 'Student', student_path %></li>
	  <li><%= link_to @student.roll_number, student_path(@student) %></li>
	  <li class="active">Edit</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edit Student</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
           <%= form_for(@student) do |f| %>
			  <% if @student.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

			      <ul>
			      <% @student.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <div class="field">
			    <%= f.label :name %><br>
			    <%= f.text_field :name,:class=>"form-control" %>
			  </div>
			  <div class="field">
			    <%= f.label :roll_number %><br>
			    <%= f.text_field :roll_number,:class=>"form-control" %>
			  </div>
			  <div class="field">
			    <%= f.label :gender %><br>
                <%= f.select :gender, options_for_select([["Male", "Male"], ["Female", "Female"]]),{:promt => "Select"},{:class => "form-control"} %>
			  </div>
			  <div class="field">
			    <%= f.label :father_name %><br>
			    <%= f.text_field :father_name,:class=>"form-control" %>
			  </div>
			  <div class="field">
			    <%= f.label :mother_name %><br>
			    <%= f.text_field :mother_name,:class=>"form-control" %>
			  </div>
			  <div class="field">
			    <%= f.label :father_designation %><br>
			    <%= f.text_field :father_designation,:class=>"form-control" %>
			  </div>
			  <div class="field">
			    <%= f.label :mother_designation %><br>
			    <%= f.text_field :mother_designation,:class=>"form-control" %>
			  </div>
			  <div class="field">
			    <%= f.label :address %><br>
			    <%= f.text_area :address,:class=>"form-control" %>
			  </div>
			  <div class="field">
			    <%= f.label :phone_number %><br>
			    <%= f.text_field :phone_number,:class=>"form-control" %>
			  </div>
			  <div class="field">
			    <%= f.label :email %><br>
			    <%= f.text_field :email,:class=>"form-control" %>
			  </div>
			  <div class="field">
			    <%= f.label :dob %><br>
			    <%= f.text_field :dob,:class=>"form-control" %>
			  </div>
			  <div class="field">
			    <%= f.label :status %><br>
			    <%= f.check_box :status %>
			  </div>
			  <div class="field">
			    <%= f.label :invitation_status %><br>
			    <%= f.check_box :invitation_status %>
			  </div>
			  <div class="field">
			    <%= f.label :academic_level_id %><br>
                <%= f.collection_select :academic_level_id, AcademicLevel.all, :id, :name, { :prompt => "Select Academic Level" }, { :class => "form-control validate_this" }  %>
			  </div>
			  <div class="field">
			    <%= f.label :first_language_id %><br>
                <%= f.collection_select :first_language_id, Subject.all, :id, :name, { :prompt => "Select First Language" }, { :class => "form-control validate_this" }  %>
			  </div>
			  <div class="field">
			    <%= f.label :second_language_id %><br>
                <%= f.collection_select :second_language_id, Subject.all, :id, :name, { :prompt => "Select Second Language" }, { :class => "form-control validate_this" }  %>
			  </div><br/>
			  <div class="actions">
			    <%= f.submit "Update",:class => "btn btn-primary pull-right" %>
			  </div>
			<% end %>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
</section>
<!-- /.content -->

<script type="text/javascript">
if (typeof CKEDITOR != 'undefined') { CKEDITOR.replace('sometext'); }
</script>

<script>
$(function() { $('form[data-validate]').validate(); })
</script>