<section class="content-header">
    <h1>
      Student
      <small>Create, edit and view all Student</small>
      <i class="fa fa-fw fa-question-circle" id="info_popover"  data-toggle = "tooltip" title = "Students" data-content="Create New Student & Manage Divisions Of Students" data-trigger="hover" data-placement="bottom" style="font-size:16px;"></i>
      <span class="heading_page_loader"></span>
    </h1>
    <ol class="breadcrumb">
      <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="<%= students_path %>"> Student</a></li>
      <li class="active">Import Student</li>
    </ol>
  </section>

  <!-- Main content -->
   <!-- Main content -->
  <section class="content">
    <%= render partial: "layouts/shared/flash_msg" %>
    <div class="row">
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-12">
        <!-- general form elements disabled -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Import Students</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive"><br/>
            <div class="">
              Import Data from Acceptable Spreadsheet Formats. The system can accept Excel and CSV Formats. Please make sure you upload the file with the following fields:<b> name, roll_number, gender, father_name, mother_name, father_designation, mother_designation, address, phone_number, email_id, status, invitation_status</b><br/><br/>
              <div style="text-align:center">
                <%= form_tag import_students_path, multipart: true,:style => "" do %>
                  <%= file_field_tag :file,:style => "display:inline !important;",:required => true %>
                  <i></i>
                  <%= submit_tag "Import",:class => "btn btn-primary btn-xs" %>&nbsp;&nbsp;&nbsp;
                <% end %>
              </div>
            </div><br/>
          </div>
        </div>
      </div>
    </div>
  </section>