<section class="content-header">
    <h1>
      Student
      <small>Create, edit and view all Student</small>
      <i class="fa fa-fw fa-question-circle" id="info_popover"  data-toggle = "tooltip" title = "Students" data-content="Create New Student & Manage Divisions Of Students" data-trigger="hover" data-placement="bottom" style="font-size:16px;"></i>
      <span class="heading_page_loader"></span>
    </h1>
    <ol class="breadcrumb">
      <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Student</li>
    </ol>
  </section>

  <!-- Main content -->
   <!-- Main content -->
  <section class="content">
    <%= render partial: "layouts/shared/flash_msg" %>
    <div class="row">
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-12">
            <!-- general form elements disabled -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">All Students</h3>
                <%= link_to 'IMPORT STUDENTS', import_students_path,:style => "float:right;margin-left:10px;",:class => "btn btn-xs btn-primary" %> &nbsp;&nbsp;&nbsp;
                <%= link_to 'CREATE NEW STUDENT', new_student_path,:style => "float:right",:class => "btn btn-xs btn-primary" %> &nbsp;&nbsp;&nbsp;
              </div>
              <!-- /.box-header -->
              <div class="box-body table-responsive">
                <% if @students.present? %>
                <table class="table table-bordered table-hover dataTable" id="student_table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Roll number</th>
                      <th>Gender</th>
                      <th>Phone number</th>
                      <th>Email</th>
                      <th>Class</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @students.each do |student| %>
                      <tr>
                        <td><%= student.name %></td>
                        <td><%= student.roll_number %></td>
                        <td><%= student.gender %></td>
                        <td><%= student.phone_number %></td>
                        <td><%= student.email %></td>
                        <td>
                        <%= student.academic_level.present? ? student.academic_level.name : '' %>
                        </td>
                        <td>
                          <% if student.status == true %>
                            <span class="badge bg-green">Active</span>
                          <% else %>
                            <span class="badge bg-yellow">Inactive</span>
                          <% end %>
                        </td>
                        <td>
                        <span class="label label-info">
                        <%= link_to '<i class="fa fa-eye " style="color:white;font-weight:bold"></i>'.html_safe, student %>
                        </span>&nbsp;
                        <span class="label label-success">
                        <%= link_to '<i class="fa fa-pencil " style="color:white;font-weight:bold"></i>'.html_safe, edit_student_path(student) %>
                        </span>&nbsp;
                        <span class="label label-danger">
                        <%= link_to '<i class="fa fa-trash-o " style="color:white;font-weight:bold"></i>'.html_safe, student, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </span></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                  <div class="text-center">Experience The Magic of Student In A Few Clicks! Create Your First Student!</div>
                <% end %>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
  </section>
  <!-- /.content -->

<script type="text/javascript">
$(document).ready(function() { 
  var aoColumnDefs = [
        {
            "aTargets": [7],
            "bSortable": false
        }
    ];
    var dataTable = $('#student_table').dataTable({
      "aoColumnDefs": aoColumnDefs,
      "pageLength": 25
    });
});
</script>

<script>
$(document).ready(function(){
  $('#info_popover').popover()
});

</script>