<section class="content-header">
  <h1>
    Students
    <small>Create, edit and view all students</small>
    <span class="heading_page_loader"></span>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><%= link_to 'Students', students_path %></li>
    <li class="active"><%= @student.name %></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"><%= @student.name %></h3>
          <div class = "pull-right">
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_student_path(@student),:style=>"float:right;" %>
          <% if @student.status == true %>
            <span class="badge bg-green">Active</span>
          <% else %>
            <span class="badge bg-yellow">Inactive</span>
          <% end %>&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <p>
            <strong>Name:</strong>
            <%= @student.name %>
          </p>

          <p>
            <strong>Roll number:</strong>
            <%= @student.roll_number %>
          </p>

          <p>
            <strong>Gender:</strong>
            <%= @student.gender %>
          </p>

          <p>
            <strong>Father name:</strong>
            <%= @student.father_name %>
          </p>

          <p>
            <strong>Mother name:</strong>
            <%= @student.mother_name %>
          </p>

          <p>
            <strong>Father designation:</strong>
            <%= @student.father_designation %>
          </p>

          <p>
            <strong>Mother designation:</strong>
            <%= @student.mother_designation %>
          </p>

          <p>
            <strong>Address:</strong>
            <%= @student.address %>
          </p>

          <p>
            <strong>Phone number:</strong>
            <%= @student.phone_number %>
          </p>

          <p>
            <strong>Email:</strong>
            <%= @student.email %>
          </p>

          <p>
            <strong>Status:</strong>
            <%= @student.status %>
          </p>

          <p>
            <strong>Class:</strong>
            <%= @student.academic_level_id %>
          </p>

          <p>
            <strong>DOB:</strong>
            <%= @student.dob %>
          </p>

          <p>
            <strong>Invitation Status:</strong>
            <%= @student.invitation_status %>
          </p>

          <p>
            <strong>First language:</strong>
            <%= @student.first_language_id %>
          </p>

          <p>
            <strong>Second language:</strong>
            <%= @student.second_language_id %>
          </p>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
</section>
<!-- /.content -->