<%= form_for(@academic_levels_subject) do |f| %>
  <% if @academic_levels_subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@academic_levels_subject.errors.count, "error") %> prohibited this academic_levels_subject from being saved:</h2>

      <ul>
      <% @academic_levels_subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :academic_level_id %><br>
    <%= f.number_field :academic_level_id %>
  </div>
  <div class="field">
    <%= f.label :subject_id %><br>
    <%= f.number_field :subject_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
