<p id="notice"><%= notice %></p>

<h1>Listing Academic Levels Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Academic level</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @academic_levels_subjects.each do |academic_levels_subject| %>
      <tr>
        <td><%= academic_levels_subject.academic_level_id %></td>
        <td><%= academic_levels_subject.subject_id %></td>
        <td><%= link_to 'Show', academic_levels_subject %></td>
        <td><%= link_to 'Edit', edit_academic_levels_subject_path(academic_levels_subject) %></td>
        <td><%= link_to 'Destroy', academic_levels_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Academic levels subject', new_academic_levels_subject_path %>
