<p id="notice"><%= notice %></p>

<p>
  <strong>Academic level:</strong>
  <%= @academic_levels_subject.academic_level_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @academic_levels_subject.subject_id %>
</p>

<%= link_to 'Edit', edit_academic_levels_subject_path(@academic_levels_subject) %> |
<%= link_to 'Back', academic_levels_subjects_path %>
