<%= form_for(@academic_level) do |f| %>
  <% if @academic_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@academic_level.errors.count, "error") %> prohibited this academic_level from being saved:</h2>

      <ul>
      <% @academic_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name,:class=>"form-control" %>
  </div><br/>
  <div class="actions">
    <%= f.submit "Save",:class => "btn btn-primary pull-right" %>
  </div>
<% end %>
