<section class="content-header">
    <h1>
      Academic Levels
      <small>Create, edit and view all academic levels</small>
      <i class="fa fa-fw fa-question-circle" id="info_popover"  data-toggle = "tooltip" title = "academic levels" data-content="Create New academic Levels & Manage Divisions Of Academic Levels" data-trigger="hover" data-placement="bottom" style="font-size:16px;"></i>
      <span class="heading_page_loader"></span>
    </h1>
    <ol class="breadcrumb">
      <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Academic Levels</li>
    </ol>
  </section>

  <!-- Main content -->
   <!-- Main content -->
  <section class="content">
    <%= render partial: "layouts/shared/flash_msg" %>
    <div class="row">
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-12">
            <!-- general form elements disabled -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">All Academic Levels</h3>

                <%= link_to 'CREATE NEW ACADEMIC LEVEL', new_academic_level_path,:style => "float:right",:class => "btn btn-xs btn-primary" %>
              </div>
              <!-- /.box-header -->
              <div class="box-body table-responsive">
                <% if @academic_levels.present? %>
                <table class="table table-bordered table-hover dataTable" id="academic_level_table">
                  <thead>
                    <tr>
                      <th>Academic Level</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @academic_levels.each do |academic_level| %>
                      <tr>
                        <td><%= academic_level.name %></td>
                        <td>
                        <span class="label label-success">
                        <%= link_to '<i class="fa fa-pencil " style="color:white;font-weight:bold"></i>'.html_safe, edit_academic_level_path(academic_level) %>
                        </span>&nbsp;
                        <span class="label label-danger">
                        <%= link_to '<i class="fa fa-trash-o " style="color:white;font-weight:bold"></i>'.html_safe, academic_level, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </span></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                  <div class="text-center">Experience The Magic of Academic Level In A Few Clicks! Create Your First Academic Level!</div>
                <% end %>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
  </section>
  <!-- /.content -->

<script type="text/javascript">
$(document).ready(function() { 
  var aoColumnDefs = [
        {
            "aTargets": [2],
            "bSortable": false
        }
    ];
    var dataTable = $('#academic_level_table').dataTable({
      "aoColumnDefs": aoColumnDefs,
      "pageLength": 25
    });
});
</script>

<script>
$(document).ready(function(){
  $('#info_popover').popover()
});

</script>