<div class="dashboard-wrapper">
  
  <!-- Left Sidebar Start -->
  <div class="left-sidebar">
    
    <!-- Row Start -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="wrapper right-sidebar-wrapper">
              <div class="list-group no-margin">
                <% notification_types.each do |notification_type| %>
                <a href="<%= student_notification_path(notification_type) %>" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-file fa-3x text-info"></i>
                  </span>
                  <h4 class="list-group-item-heading"><%= notification_content_count(notification_type) %></h4>
                  <p class="list-group-item-text"><%= notification_type.name %></p>
                </a>
                <% end %>
              </div>
          </div>
        </div>
    </div>
    <!-- Row End -->

  </div>
  <!-- Left Sidebar End -->

  <!-- Right Sidebar Start -->
  <div class="right-sidebar">
    
    <div class="wrapper">
      <div id="scrollbar">
        <div class="scrollbar">
          <div class="track">
            <div class="thumb">
              <div class="end">
              </div>
            </div>
          </div>
        </div>
        <div class="viewport">
          <div class="overview">
            <div class="featured-articles-container">
              <h5 class="heading">
                Recent Notifications
              </h5>
              <div class="articles">
                <% @recent_notifications.each do |recent_notification| %>
                  <a href="<%= student_notification_showcase_path(recent_notification) %>">
                    <span class="label-bullet">
                      &nbsp;
                    </span>
                    <%= recent_notification.title.truncate(32) %>
                  </a>
                <% end %>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Right Sidebar End -->
</div>
<!-- Dashboard Wrapper End -->

