<div class="dashboard-wrapper">
  
  <!-- Left Sidebar Start -->
  <div class="left-sidebar">
    
    <!-- Row Start -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
	        <div class="wrapper right-sidebar-wrapper">
              <div class="list-group no-margin">
                <% notification_types.each do |notification_type| %>
                <a href="<%= student_notification_path(notification_type) %>" class="list-group-item">
                  <span class="pull-right">
                    <i class="fa fa-file fa-3x text-info"></i>
                  </span>
                  <h4 class="list-group-item-heading"><%= notification_content_count(notification_type) %></h4>
                  <p class="list-group-item-text"><%= notification_type.name %></p>
                </a>
                <% end %>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>