<div class="dashboard-wrapper">
  
  <!-- Left Sidebar Start -->
  <div class="left-sidebar">
    
    <!-- Row Start -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="col-lg-12 col-md-12">
	        <div class="widget">
	          <div class="widget-header">
	            <div class="title">
	              <%= @notification_type.name %>
	            </div>
	          </div>
	          <div class="widget-body"><% @flag = 1 %>
	            <% if @notifications.present? %>
	              <% @notifications.each do |notification| %>
	                 <div class="notice <%= notice_color_toggle(@flag) %>">
		              <p><%= notification.title %><a href="<%= student_notification_showcase_path(notification) %>" class="pull-right">VIEW MORE</a></p>
		             </div><% @flag += 1 %>
	              <% end %>
	            <% else %>
	                <div class="notice red">
                      <p>Nothing to display</p>
                    </div>
	            <% end %>
	          </div>
	        </div>
          </div>
        </div>
    </div>
  </div>
</div>
<% update_notification_view %>