<div class="dashboard-wrapper-lg">
          
          <!-- Blog Container Start -->
          <div class="blog-container">
            
            <h1 class="center-align-text"><%= @notification.name %></h1>

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

                <!-- Row Start -->
                <div class="row">
                  <div class="col-md-12">
                    
                    <!-- Blog One Starts -->
                    <div class="blog-wrapper">
                      <div class="blog-body">
                        <div class="date">
                        </div>
                        <div class="blog-title">
                          <%= @notification_content.title %>
                        </div>
                        <p class="blog-info">
                          <%= @notification_content.description.html_safe %>
                        </p><br/>
                      </div>
                    </div>
                    <!-- Blog One Ends -->

                  </div>
                  <div class="col-md-4">
                    

                  </div>
                </div>
                <!-- Row Ends -->

              </div>
            </div>
            <!-- Row Ends -->

          </div>
          <!-- Blog Container End -->

        </div>
        <!-- Dashboard Wrapper End -->