/*!
 * Mercury Editor is a Coffeescript and jQuery based WYSIWYG editor.  Documentation and other useful information can be
 * found at https://github.com/jejacks0n/mercury
 *
 * This file is intended to provide a standard way to override the CSS that comes default with Mercury Editor, and
 * includes an example button style, should you ever need to add new ones yourself.  Read the toolbar configuration in
 * mercury.js for more on how to add your own buttons to the toolbar.
 */

/* Disable text sizing in webkit (ipad/iphone etc -- should apply to mercury only) */
html { -webkit-text-size-adjust: none; }

/* Button example */
.mercury-primary-toolbar .mercury-inspector-button em,
.mercury-expander-button[data-button="inspector"] em {
  background-image: url(/assets/mercury/toolbar/primary/inspectorpanel.png);
}

#error_explanation{
  background-color: #FFFFFF;
  border: 1px solid red;
  border-right: 40px solid red;
  width: 380px;
  border-radius:4px; 
  margin-left:10px;
  text-align: center;
  margin-top: 10px;
}
.change_error_explanation#error_explanation{
  background-color: #FCF6DF;
  border: 1px solid #fecd07;
  border-right: 12px solid #fecd07;
  width: 100%;
  border-radius:4px; 
}
#new_error_explanation{
  background-color: #FCF6DF;
  border: 1px solid #d15b47;
  border-right: 40px solid #d15b47;
  width: 100%;
  border-radius:4px; 
  margin-bottom:10px;
}
#new_error_explanation > ul > li{
  width:100%;
  list-style: none;
  color: #444;
  font: 14px ,Arial,Helvetica,sans-serif;
  font-weight: normal;
  line-height: 1.8em;
  margin-top:4px;
  margin-bottom:0px;
}
.error_lists{
  border-radius: 4px;
  height: 33px;
  width: 49%;
  margin-bottom: 17px;  
  padding: 5px 0px 18px 20px;
  color: rgb(214, 4, 4); 
}
.change_error_explanation.error_lists{
  border-radius: 4px;
  height: 33px;
  width: 49%;
  margin-bottom: 17px;  
  padding: 5px 0px 18px 20px;
  color: rgb(214, 4, 4); 
}
#error_explanation > ul > li{
  width:100%;
  list-style: none;
  color: #444;
  font: 14px ,Arial,Helvetica,sans-serif;
  font-weight: normal;
  line-height: 1.8em;
  margin:10px;
}
.change_error_explanation#error_explanation > ul > li{
  width:107%;
  list-style: none;
  color: #444;
  font: 14px ,Arial,Helvetica,sans-serif;
  font-weight: normal;
  line-height: 1.8em;
  margin-top:5px;
  margin-left:-23px;
}
#error_explanation > h2, #new_error_explanation > h2{
  display:none;
}