<div class="login-box">
  <div class="login-logo">
    <b>Rabbits</b>EDU
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true,:class => "form-control",:placholder => "Email", :required => true %>
        <span class="fa fa-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: "off",:class=>"form-control",:placeholder=>"Password", :required => true %>        <span class="fa fa-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <%= f.submit "Sign In",:class=>"btn btn-primary btn-block btn-flat" %>
        </div>
        <!-- /.col -->
      </div>
    <% end %>

      <div class="row">
        <div class="col-xs-12">
          New User? <%= link_to "Sign Up", new_registration_path(resource_name) %>
        </div>
        <!-- /.col -->
        <div class="col-xs-12">
          <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %> 
        </div>
        <!-- /.col -->
        <div class="col-xs-1"></div>
      </div>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->