  <section class="content-header">
    <h1>
      Dashboard
      <small>Layout with collapsed sidebar on load</small>
      <span class="heading_page_loader"></span>
    </h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
    </ol>
  </section>

  <!-- /.content -->

  <!-- Main content -->
  <section class="content">
    <%= render partial: "layouts/shared/flash_msg" %>
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3><%= Student.count %></h3>

            <p>Students</p>
          </div>
          <div class="icon">
            <i class="fa fa-files-o"></i>
          </div>
          <a href="<%= students_path %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3><%= DynamicContent.count %></h3>

            <p>Dynamic Contents</p>
          </div>
          <div class="icon">
            <i class="fa fa-folder"></i>
          </div>
          <a href="<%= dynamic_contents_path %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3><%= Examination.count %></h3>

            <p>Examination</p>
          </div>
          <div class="icon">
            <i class="fa fa-book"></i>
          </div>
          <a href="<%= examinations_path %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>

</section>
<!-- /.content -->
