<%= form_for(@notification_type) do |f| %>
  <% if @notification_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification_type.errors.count, "error") %> prohibited this notification_type from being saved:</h2>

      <ul>
      <% @notification_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name,:class=>"form-control", :required => true %>
  </div><br/>
  <div class="actions">
    <%= f.submit "Save",:class => "btn btn-primary pull-right" %>
  </div>
<% end %>
