<section class="content-header">
	<h1>
	  Notification Type
	  <small>Create, edit and view all notification type</small>
    <span class="heading_page_loader"></span>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	  <li><%= link_to 'Notification Type', notification_type_path %></li>
	  <li><%= link_to @notification_type.title, notification_type_path(@notification_type) %></li>
	  <li class="active">Edit</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edit Notification Type</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
           <%= form_for(@notification_type) do |f| %>
			  <% if @notification_type.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@notification_type.errors.count, "error") %> prohibited this notification_type from being saved:</h2>

			      <ul>
			      <% @notification_type.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <div class="field">
			    <%= f.label :name %><br>
			    <%= f.text_field :name,:class=>"form-control", :required => true %>
			  </div><br/>
			  <div class="actions">
			    <%= f.submit "Save",:class => "btn btn-primary pull-right" %>
			  </div>
			<% end %>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
</section>
<!-- /.content -->

<script type="text/javascript">
if (typeof CKEDITOR != 'undefined') { CKEDITOR.replace('sometext'); }
</script>

<script>
$(function() { $('form[data-validate]').validate(); })
</script>