<div class="row">
  <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12" style="padding-top:4%;">
    <% if general.home_page_content.present? %>
      <%= general.home_page_content.html_safe %>
    <% end %>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
    <div class="sign-in-container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post , :class => "login-wrapper" }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
        <div class="header">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <h3>Change your password</h3><br/>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="form-group">
            <label for="Password">Password</label>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off",:class => "form-control",:placeholder =>"Password", :required => true %>
          </div>
          <div class="form-group">
            <label for="PasswordConfirmation">Password Confirmation</label>
            <%= f.password_field :password_confirmation, autocomplete: "off",:class => "form-control",:placeholder =>"Retype Password", :required => true %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Send me reset password instructions", :class=> "btn btn-success" %><br/><br/>
          &nbsp;&nbsp;&nbsp;<%= link_to "Login", new_session_path(resource_name), :class => "pull-right" %> 
          <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name),:style => "padding-left: 25%;" %> 
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>