<%= form_for(@general) do |f| %>
  <% if @general.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@general.errors.count, "error") %> prohibited this general from being saved:</h2>

      <ul>
      <% @general.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :logo %><br>
    <%= f.file_field :logo %>
  </div>
  <div class="field">
    <%= f.label :favicon %><br>
    <%= f.file_field :favicon %>
  </div>
  <div class="field">
    <%= f.label :page_title %><br>
    <%= f.text_field :page_title,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :meta_description %><br>
    <%= f.text_area :meta_description,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :analytics_text,"Analytics Code"%><br>
    <%= f.text_area :analytics_text,:class=>"form-control",:style => "height: 180px"  %>
  </div><br/>
  <div class="actions">
    <%= f.submit "Update",:class => "btn btn-primary pull-right" %>
  </div>
<% end %>
