<section class="content-header">
	<h1>
	  Generals
	  <small>Layout with collapsed sidebar on load</small>
    <span class="heading_page_loader"></span>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	  <li><%= link_to 'Generals', generals_path %></li>
	  <li class="active">Edit logo</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
    <%= render partial: "layouts/shared/flash_msg" %>
    <div class="row">
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
          <!-- general form elements disabled -->
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Logo</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <%= form_for(@general) do |f| %>
                <% if @general.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@general.errors.count, "error") %> prohibited this general from being saved:</h2>

                    <ul>
                    <% @general.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="row">
                  <div class="col-sm-2 col-xs-12 col-md-2 col-lg-2">
                    <%= f.label :logo %>
                  </div>
                  <div class="col-sm-5 col-xs-12 col-md-5 col-lg-5">
                    <%= f.file_field :logo %>
                  </div>
                  <div class="col-sm-3 col-xs-12 col-md-3 col-lg-3">
                    <%= f.submit "Upload",:class => "btn btn-primary " %>
                  </div>
                </div><br/>
              <% end %>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
</section>
<!-- /.content -->