<section class="content-header">
  <h1>
    Generals
    <small>Layout with collapsed sidebar on load</small>
    <i class="fa fa-fw fa-question-circle" id="info_popover"  data-toggle = "tooltip" title = "Generals" data-content="Organize, Store and Curate Your Images and Video and Use Them On Your Site" data-trigger="hover" data-placement="bottom" style="font-size:16px;"></i>
    <span class="heading_page_loader"></span>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Generals</li>
  </ol>
</section>

<!-- /.content -->

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %> 
  <div class="row">
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
          <!-- general form elements disabled -->
            <div class="row">
              <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
                <div class="box box-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">Logo</h3>
                    <%= link_to '<i class="fa fa-pencil " style="font-weight:bold"></i>'.html_safe, edit_general_path(@general,:logo => true),:class => "pull-right" %>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <% if @general.present? %>
                      <div class="box-body box-profile">
                        <% if @general.logo.present? %>
                          <%= image_tag @general.logo %>
                        <% else %>
                          <div class="text-center">LOGO NOT YET UPLOADED</div>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="text-center">YOU HAVE NOT CREATED ANY PAGES YET</div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
                <div class="box box-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">Favicon</h3>
                    <%= link_to '<i class="fa fa-pencil " style="font-weight:bold"></i>'.html_safe, edit_general_path(@general,:favicon => true),:class => "pull-right" %>
                  </div>
                  <!-- /.box-header -->
                    <div class="box-body">
                      <% if @general.present? %>
                        <div class="box-body box-profile">
                          <% if @general.favicon.present? %>
                            <%= image_tag @general.favicon %>
                          <% else %>
                            <div class="text-center">FAVICON NOT YET UPLOADED</div>
                          <% end %>
                        </div>
                      <% else %>
                        <div class="text-center">YOU HAVE NOT CREATED ANY PAGES YET</div>
                      <% end %>
                    </div>
                  </div>
              </div>
            </div><br/>

            <div class="row">
              <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
              <!-- /.box-body -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Default Info</h3>
                  <%= link_to '<i class="fa fa-pencil " style="font-weight:bold"></i>'.html_safe, edit_general_path(@general,:default_info => true),:class => "pull-right" %>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <% if @general.present? %>
                    <div class="box-body box-profile">
                      <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                          <b>Phone Number</b> <span class="pull-right"><%= @general.phone_number.present? ? @general.phone_number : 'Not yet updated' %></span>
                        </div>
                      </div><br/>
                      <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                          <b>Facebook Link</b> <span class="pull-right"><%= @general.fb_link.present? ? @general.fb_link : 'Not yet updated' %></span>
                        </div>
                      </div><br/><div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                          <b>Twitter Link</b> <span class="pull-right"><%= @general.twitter_link.present? ? @general.twitter_link : 'Not yet updated' %></span>
                        </div>
                      </div><br/><div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                          <b>Email Id</b> <span class="pull-right"><%= @general.email.present? ? @general.email_id : 'Not yet updated' %></span>
                        </div>
                      </div><br/>
                      <div class="row">
                        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                          <b>Address</b> <span class="pull-right"><%= raw @general.address.present? ? @general.address : 'Not yet updated' %></span>
                        </div>
                      </div>
                      <div class="row"></div>
                    </div>
                  <% else %>
                    <div class="text-center">YOU HAVE NOT UPDATED DEFAULT PAGE TITLE AND META DISCRIPTION YET</div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Meta Tags</h3>
                  <%= link_to '<i class="fa fa-pencil " style="font-weight:bold"></i>'.html_safe, edit_general_path(@general,:page_title => true),:class => "pull-right" %>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <% if @general.present? %>
                    <% if @general.page_title.present? %>
                        <div class="box-body box-profile">
                          <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                              <b>Page Title</b> <a class="pull-right"><%= @general.page_title %></a>
                            </div>
                          </div><br/>
                          <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                              <b>Page Description</b> <a class="pull-right"><%= @general.meta_description %></a>
                            </div>
                          </div>
                          <div class="row"></div>
                        </div>
                      <% else %><br/>
                        <div class="text-center">YOU HAVE NOT UPDATED DEFAULT PAGE TITLE AND META DISCRIPTION YET</div>
                      <% end %>
                  <% else %>
                    <div class="text-center">YOU HAVE NOT UPDATED DEFAULT PAGE TITLE AND META DISCRIPTION YET</div>
                  <% end %>
                </div>
                <!-- /.box-body -->
              </div>
            </div>
          </div>
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Analytics Code</h3>
              <%= link_to '<i class="fa fa-pencil " style="font-weight:bold"></i>'.html_safe, edit_general_path(@general,:analytics_code => true),:class => "pull-right" %>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <% if @general.present? %>
                <% if @general.analytics_text.present? %>
                  <pre class="prettyprint"><%= @general.analytics_text %></pre>
                <% else %>
                  <div class="text-center">Paste your analytics code here</div>
                <% end %>
              <% end %>
            </div>
            <!-- /.box-body -->
          </div>
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Home Page Content</h3>
              <%= link_to '<i class="fa fa-pencil " style="font-weight:bold"></i>'.html_safe, edit_general_path(@general,:home_page_code => true),:class => "pull-right" %>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <% if @general.present? %>
                <% if @general.home_page_content.present? %>
                  <%= @general.home_page_content.html_safe %>
                <% else %>
                  <div class="text-center">Paste your home page content here</div>
                <% end %>
              <% end %>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
</section>
<!-- /.content -->



<script>
$(document).ready(function(){
  $('#info_popover').popover()
});
</script>