<p id="notice"><%= notice %></p>

<p>
  <strong>Logo:</strong>
  <%= @general.logo %>
</p>

<p>
  <strong>Favicon:</strong>
  <%= @general.favicon %>
</p>

<p>
  <strong>Page title:</strong>
  <%= @general.page_title %>
</p>

<p>
  <strong>Meta description:</strong>
  <%= @general.meta_description %>
</p>

<p>
  <strong>Analytics text:</strong>
  <%= @general.analytics_text %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @general.phone_number %>
</p>

<p>
  <strong>Fb link:</strong>
  <%= @general.fb_link %>
</p>

<p>
  <strong>Twitter link:</strong>
  <%= @general.twitter_link %>
</p>

<p>
  <strong>Address:</strong>
  <%= @general.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @general.email %>
</p>

<%= link_to 'Edit', edit_general_path(@general) %> |
<%= link_to 'Back', generals_path %>
