body {
    margin-top: 50px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand,
.brand-name {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400
}

p.lead {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400
}

hr.small {
    max-width: 100px;
    margin: 50px auto;
    border-color: rgba(0, 0, 0, .2)
}

.text-yellow {
    color: #f1c40f
}

p.dm-promo-lead {
    margin-bottom: 10px
}

p.dm-promo-deal {
    margin-bottom: 30px
}

.well {
    background-color: #fff;
    background-image: url(/assets/img/premium-bg.png)
}

header.marquee {
    padding: 50px 0;
    text-align: center;
    color: #fff;
    background-color: #b84d45;
    background-image: url(/assets/img/bg.png)
}

header.marquee .brand-name {
    display: block;
    font-size: 50px;
    line-height: 1
}

header.marquee h1 {
    font-size: 24px;
    line-height: 1;
    margin: 20px 0
}

header.marquee p {
    font-size: 16px;
    color: rgba(255, 255, 255, .8);
    line-height: 1.4
}

header.marquee p a {
    color: #fff
}

header.marquee img.logo {
    margin-bottom: 50px
}

header.marquee .btn-cta {
    margin: 20px 0 0;
    padding: 10px 15px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px
}

header.marquee .btn-cta:hover {
    color: #b84d45;
    background-color: #fff
}

@media (min-width:768px) {
    header.marquee {
        padding: 150px 0
    }
    header.marquee .brand-name {
        font-size: 80px
    }
    header.marquee h1 {
        font-size: 34px
    }
    header.marquee p {
        font-size: 20px
    }
    header.marquee .btn-cta {
        padding: 15px 20px;
        font-size: 18px
    }
}

.home-intro h2.tagline {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 35px;
    margin-top: 50px;
    font-weight: 300
}

.home-intro p.lead {
    max-width: 100%;
    margin: 0 auto
}

.home-intro p.lead strong {
    font-weight: 600
}

@media (min-width:768px) {
    .home-intro p.lead {
        max-width: 75%
    }
}

.btn-outline {
    padding: 10px 15px;
    border: 1px solid #b84d45;
    background-color: transparent;
    color: #b84d45;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px
}

.btn-outline:hover {
    color: #fff;
    background-color: #b84d45
}

.navbar-default {
    background-color: #fff
}

.preview-thumb {
    margin-bottom: 50px
}

.sb-page-header {
    position: relative;
    padding: 30px 15px;
    text-align: center;
    color: rgba(255, 255, 255, .8);
    background-color: #b84d45;
    background-image: url(/assets/img/bg.png);
    margin-bottom: 40px;
    font-size: 20px
}

.sb-page-header h1 {
    margin-top: 0;
    color: #fff
}

.sb-page-header p {
    margin-bottom: 0;
    line-height: 1.4
}

.sb-page-header .container {
    position: relative
}

@media (min-width:768px) {
    .sb-page-header {
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: left;
        font-size: 24px
    }
    .sb-page-header h1 {
        font-size: 60px;
        line-height: 1
    }
}

@media (min-width:992px) {
    .sb-page-header h1,
    .sb-page-header p {
        margin-right: 380px
    }
}

#carbonads {
    width: auto!important;
    height: auto!important;
    margin: 30px -30px -31px!important;
    padding: 20px!important;
    border: solid rgba(255, 255, 255, .5)!important;
    border-width: 1px 0!important;
    overflow: hidden;
    text-align: left;
    font-size: 13px!important;
    line-height: 16px!important;
    background: transparent!important;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .4)
}

#carbonads .carbon-wrap .carbon-img {
	margin: 0!important;
	display: block;
	float: left;
}

#carbonads .carbon-wrap .carbon-text,
#carbonads .carbon-poweredby {
	display: block!important;
	float: none!important;
	width: auto!important;
	height: auto!important;
	margin-left: 145px!important;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    color: white!important;
}

#carbonads .carbon-wrap .carbon-text {
    padding-top: 0!important;
    color: rgba(255, 255, 255, .8)
}

#carbonads .carbon-poweredby {
    text-align: left!important;
    color: inherit!important;
	margin-top: 10px!important;
}

header.marquee #carbonads {
    margin: 50px -15px 0!important
}

@media (min-width:480px) {
    #carbonads {
        width: 330px!important;
        margin: 20px auto!important;
        border-width: 1px!important;
        border-radius: 4px
    }
    header.marquee #carbonads {
        margin: 50px auto 0!important
    }
}

@media (min-width:768px) {
    #carbonads {
        margin-right: 0!important;
        margin-left: 0!important
    }
}

@media (min-width:992px) {
    #carbonads {
        position: absolute;
        top: 0;
        right: 15px;
        width: 330px!important;
        margin: 0!important;
        padding: 15px!important
    }
    header.marquee #carbonads {
        position: static
    }
}

.previews .thumbnail {
    text-align: center;
    background-image: url(/assets/img/premium-bg.png);
    margin-bottom: 15px
}

.previews .thumbnail img {
    border: 1px solid #e6e6e6
}

.previews .thumbnail img:hover {
    opacity: .7
}

.previews .thumbnail p {
    margin: 15px 0
}

.previews .thumbnail .btn {
    margin-bottom: 20px
}

.previews .featured {
    text-align: left
}

@media (min-width:768px) {
    .previews .thumbnail {
        margin-bottom: 30px
    }
}

.preview-page-window {
    margin-bottom: 30px
}

.preview-page-window ul.preview-links {
    text-align: center
}

.preview-page-window ul.preview-links li {
    margin-bottom: 15px
}

@media (min-width:768px) {
    .preview-page-window {
        margin-bottom: 0
    }
    .preview-page-window ul.preview-links {
        text-align: left
    }
    .preview-page-window ul.preview-links li {
        margin-bottom: 30px
    }
}

.preview-page-content p,
.preview-page-content ul,
.preview-page-content .thumbnail {
    margin-bottom: 30px
}

.preview-page-content ul.list-tags {
    text-transform: capitalize
}

p.hosting-offer {
    margin-bottom: 10px
}

.resource-name {
    width: 200px
}

.resource-link {
    width: 140px
}

.cta-mail {
    color: #fff;
    background-color: #b84d45;
    background-image: url(/assets/img/bg.png);
    padding: 50px 0;
    margin-top: 50px
}

.cta-mail h2 {
    margin-top: 0
}

.cta-mail .input-group {
    max-width: 500px;
    margin: 30px auto 0
}

.post-image-link p {
    margin: 0!important
}

.resources h2,
.resources h3 {
    margin-top: 0;
    padding-top: 60px
}

.submit-box {
    margin-top: 60px
}

.submit-box h3 {
    padding-top: 0
}

.bs-docs-sidebar.affix {
    position: static
}

@media (min-width:768px) {
    .bs-docs-sidebar {
        padding-left: 20px
    }
}

.bs-docs-sidenav {
    margin-bottom: 20px;
    padding-top: 60px
}

.bs-docs-sidebar .nav>li>a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #999
}

.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    padding-left: 19px;
    border-left: 1px solid #b84d45;
    text-decoration: none;
    color: #b84d45;
    background-color: transparent
}

.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    padding-left: 18px;
    border-left: 2px solid #b84d45;
    font-weight: 700;
    color: #b84d45;
    background-color: transparent
}

.bs-docs-sidebar .nav .nav {
    display: none;
    padding-bottom: 10px
}

.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400
}

.bs-docs-sidebar .nav .nav>li>a:hover,
.bs-docs-sidebar .nav .nav>li>a:focus {
    padding-left: 29px
}

.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    padding-left: 28px;
    font-weight: 500
}

.back-to-top {
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    color: #999
}

.back-to-top:hover {
    text-decoration: none;
    color: #b84d45
}

@media (min-width:768px) {
    .back-to-top {
        display: block
    }
}

@media (min-width:992px) {
    .bs-docs-sidebar .nav>.active>ul {
        display: block
    }
    .bs-docs-sidebar.affix,
    .bs-docs-sidebar.affix-bottom {
        width: 213px
    }
    .bs-docs-sidebar.affix {
        position: fixed;
        top: 20px
    }
    .bs-docs-sidebar.affix-bottom {
        position: absolute
    }
    .bs-docs-sidebar.affix-bottom .bs-docs-sidenav,
    .bs-docs-sidebar.affix .bs-docs-sidenav {
        margin-top: 0;
        margin-bottom: 0
    }
}

@media (min-width:1200px) {
    .bs-docs-sidebar.affix-bottom,
    .bs-docs-sidebar.affix {
        width: 263px
    }
}

footer {
    padding: 50px 0
}

footer .footer-left,
footer .footer-right,
footer .footer-below {
    text-align: left
}

@media (min-width:992px) {
    footer .footer-left {
        text-align: left
    }
    footer .footer-right {
        text-align: right
    }
    footer .footer-below {
        text-align: center
    }
}

.sponsor {
    margin-top: 30px
}


.sign-in-container{
  padding-top:25% !important;
}
.header_active {
  color: #CE0F00 !important;
}

#error_explanation{
  background-color: #FFFFFF;
  border: 1px solid red;
  border-right: 40px solid red;
  width: 380px;
  border-radius:4px; 
  margin-left:10px;
  text-align: center;
  margin-top: 10px;
}
.change_error_explanation#error_explanation{
  background-color: #FCF6DF;
  border: 1px solid #fecd07;
  border-right: 12px solid #fecd07;
  width: 100%;
  border-radius:4px; 
}
#new_error_explanation{
  background-color: #FCF6DF;
  border: 1px solid #d15b47;
  border-right: 40px solid #d15b47;
  width: 100%;
  border-radius:4px; 
  margin-bottom:10px;
}
#new_error_explanation > ul > li{
  width:100%;
  list-style: none;
  color: #444;
  font: 14px ,Arial,Helvetica,sans-serif;
  font-weight: normal;
  line-height: 1.8em;
  margin-top:4px;
  margin-bottom:0px;
}
.error_lists{
  border-radius: 4px;
  height: 33px;
  width: 49%;
  margin-bottom: 17px;  
  padding: 5px 0px 18px 20px;
  color: rgb(214, 4, 4); 
}
.change_error_explanation.error_lists{
  border-radius: 4px;
  height: 33px;
  width: 49%;
  margin-bottom: 17px;  
  padding: 5px 0px 18px 20px;
  color: rgb(214, 4, 4); 
}
#error_explanation > ul > li{
  width:100%;
  list-style: none;
  color: #444;
  font: 14px ,Arial,Helvetica,sans-serif;
  font-weight: normal;
  line-height: 1.8em;
  margin:10px;
}
.change_error_explanation#error_explanation > ul > li{
  width:107%;
  list-style: none;
  color: #444;
  font: 14px ,Arial,Helvetica,sans-serif;
  font-weight: normal;
  line-height: 1.8em;
  margin-top:5px;
  margin-left:-23px;
}
#error_explanation > h2, #new_error_explanation > h2{
  display:none;
}