<p>Hello,</p> 

<p>Greetings from SVI Schools! Trust this email finds you at your best. </p>

<p>To make things convenient for you, we have created a portal using which you can access all student-information with a single login.</p>

<p>To activate you portal, please click on <%= link_to 'Signup my account', new_user_registration_url %> and enter the details as directed. </p>

<p>Please feel free to contact us if you have any questions. Once again, welcome to SVI School!</p>