<div class="login-box">
  <div class="login-logo">
    <b>Rabbits</b>EDU
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Change your password</p>

   <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <div class="form-group has-feedback">
        <%= f.password_field :password, autofocus: true, autocomplete: "off",:class => "form-control", :required => true %>
        <span class="fa fa-lock form-control-feedback"></span>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password_confirmation, autocomplete: "off",:class => "form-control", :required => true %>
        <span class="fa fa-retweet form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-5">
          Switch to <%= link_to "Login", new_session_path(resource_name) %>
        </div>
        <!-- /.col -->
        <div class="col-xs-7">
          <%= f.submit "Change my password",:class=>"btn btn-primary btn-block btn-flat" %>
        </div>
        <!-- /.col -->
        <div class="col-xs-1"></div>
      </div>
    <% end %>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->