<div class="login-box">
  <div class="login-logo">
    <b>Rabbits</b>EDU
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Forgot your password?</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true,:class => "form-control",:placholder => "Email", :required => true %>
        <span class="fa fa-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-1"></div>
        <!-- /.col -->
        <div class="col-xs-10">
          <%= f.submit "Send me reset password instructions",:class=>"btn btn-primary btn-block btn-flat" %>
        </div>
        <!-- /.col -->
        <div class="col-xs-1"></div>
      </div>
    <% end %>
      
      <div class="row">
        <div class="col-xs-1"></div>
        <!-- /.col -->
        <div class="col-xs-10">
	          <b class="text-center" style="padding-left:50%;">OR</b><br/>
	          <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %> 
        </div>
        <!-- /.col -->
        <div class="col-xs-1"></div>
      </div>
      <div class="row">
        <div class="col-xs-5"></div>
        <!-- /.col -->
        <div class="col-xs-7">
          &nbsp;&nbsp;<%= link_to "Login", new_session_path(resource_name) %>
        </div>
        <!-- /.col -->
      </div>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->