<%= form_for(@admission) do |f| %>
  <% if @admission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admission.errors.count, "error") %> prohibited this admission from being saved:</h2>

      <ul>
      <% @admission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, options_for_select([["Male", "Male"], ["Female", "Female"]]),{:prompt => "select"},{:class => "form-control" , :required => true} %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :academic_level %><br>
    <%= f.text_field :academic_level,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :previous_school %><br>
    <%= f.text_area :previous_school,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :school %><br>
    <%= f.text_field :school,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :father_name %><br>
    <%= f.text_field :father_name,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :father_designation %><br>
    <%= f.text_field :father_designation,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :mother_name %><br>
    <%= f.text_field :mother_name,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :mother_designation %><br>
    <%= f.text_field :mother_designation,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email,:class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :annual_income %><br>
    <%= f.text_field :annual_income,:class=>"form-control" %>
  </div><br/>
  <div class="actions">
    <%= f.submit "Save",:class => "btn btn-primary pull-right" %>
  </div>
<% end %>
