<section class="content-header">
	<h1>
	  Admission
	  <small>Create, edit and view all admission</small>
    <span class="heading_page_loader"></span>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	  <li><%= link_to 'Examinations', admissions_path %></li>
	  <li><%= link_to @admission.admission_number, admissions_path(@admission) %></li>
	  <li class="active">Edit</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edit Admission</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
           <%= render 'form' %>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
</section>
<!-- /.content -->

<script type="text/javascript">
if (typeof CKEDITOR != 'undefined') { CKEDITOR.replace('sometext'); }
</script>

<script>
$(function() { $('form[data-validate]').validate(); })
</script>