<section class="content-header">
	<h1>
	  Admission
	  <small>Create, edit and view all Academic Level</small>
    <span class="heading_page_loader"></span>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	  <li><%= link_to 'Academic Level', admissions_path %></li>
	  <li class="active">New</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Create Admission</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <%= render 'form' %>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
</section>
<!-- /.content -->