<section class="content-header">
  <h1>
    Admission
    <small>Create, edit and view all admission</small>
    <span class="heading_page_loader"></span>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><%= link_to 'Admission', admissions_path %></li>
    <li class="active"><%= @admission.admission_number %></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"><%= @admission.admission_number %></h3>
          <div class = "pull-right">
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admission_path(@admission),:style=>"float:right;" %>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <p>
              <strong>Name:</strong>
              <%= @admission.name %>
            </p>

            <p>
              <strong>Gender:</strong>
              <%= @admission.gender %>
            </p>

            <p>
              <strong>Dob:</strong>
              <%= @admission.dob %>
            </p>

            <p>
              <strong>Academic Level:</strong>
              <%= @admission.academic_level %>
            </p>

            <p>
              <strong>Previous School:</strong>
              <%= @admission.previous_school %>
            </p>

            <p>
              <strong>School:</strong>
              <%= @admission.school %>
            </p>

            <p>
              <strong>Father name:</strong>
              <%= @admission.father_name %>
            </p>

            <p>
              <strong>Father designation:</strong>
              <%= @admission.father_designation %>
            </p>

            <p>
              <strong>Mother name:</strong>
              <%= @admission.mother_name %>
            </p>

            <p>
              <strong>Mother designation:</strong>
              <%= @admission.mother_designation %>
            </p>

            <p>
              <strong>Address:</strong>
              <%= @admission.address %>
            </p>

            <p>
              <strong>Mobile:</strong>
              <%= @admission.mobile %>
            </p>

            <p>
              <strong>Email:</strong>
              <%= @admission.email %>
            </p>

            <p>
              <strong>Annual income:</strong>
              <%= @admission.annual_income %>
            </p>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
</section>
<!-- /.content -->