<%= form_for(@dynamic_content, validate: true) do |f| %>
  <% if @dynamic_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dynamic_content.errors.count, "error") %> prohibited this dynamic_content from being saved:</h2>

      <ul>
      <% @dynamic_content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title,"Content-Title" %><br>
    <%= f.text_field :title,:class=>"form-control", :required => true %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description, :id => 'sometext' ,:placeholder => "Description",:class => "form light-form", :required => true %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :notification_type_id,"Notification Type" %><br>
    <%= f.collection_select :notification_type_id, NotificationType.all, :id, :name, { :prompt => "Select Notification Type" }, { :class => "form-control validate_this", :required => true }  %>
  </div><br/>
  <div class="actions">
    <%= f.submit "Save",:class => "btn btn-primary pull-right" %>
  </div>
<% end %>

<script>
$(function() { $('form[data-validate]').validate(); })
</script>

<script type="text/javascript">
if (typeof CKEDITOR != 'undefined') { CKEDITOR.replace('sometext'); }
</script>