<section class="content-header">
    <h1>
      Dynamic Contents
      <small>Create, edit and view all dynamic contents</small>
      <i class="fa fa-fw fa-question-circle" id="info_popover"  data-toggle = "tooltip" title = "Dynamic Contents" data-content="Create New Dynamic Contents & Manage Divisions Of Dynamic Content Pages" data-trigger="hover" data-placement="bottom" style="font-size:16px;"></i>
      <span class="heading_page_loader"></span>
    </h1>
    <ol class="breadcrumb">
      <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Dynamic Contents</li>
    </ol>
  </section>

  <!-- Main content -->
   <!-- Main content -->
  <section class="content">
    <%= render partial: "layouts/shared/flash_msg" %>
    <div class="row">
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-12">
            <!-- general form elements disabled -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">All Dynamic Contents</h3>

                <%= link_to 'CREATE NEW DYNAMIC CONTENT', new_dynamic_content_path,:style => "float:right",:class => "btn btn-xs btn-primary" %>
              </div>
              <!-- /.box-header -->
              <div class="box-body table-responsive">
                <% if @dynamic_contents.present? %>
                <table class="table table-bordered table-hover dataTable" id="dynamic_content_table">
                  <thead>
                    <tr>
                      <th>Content-Title</th>
                      <th>Slug</th>
                      <th>Notification type</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @dynamic_contents.each do |dynamic_content| %>
                      <tr>
                        <td><%= dynamic_content.title %></td>
                        <td><%= dynamic_content.slug %></td>
                        <td><%= dynamic_content.notification_type.name %></td>
                        <td>
                          <% if dynamic_content.status == true %>
                            <span class="badge bg-green">Active</span>
                          <% else %>
                            <span class="badge bg-yellow">Inactive</span>
                          <% end %>
                        </td>
                        <td>
                        <span class="label label-info">
                        <%= link_to '<i class="fa fa-eye " style="color:white;font-weight:bold"></i>'.html_safe, dynamic_content %>
                        </span>&nbsp;
                        <span class="label label-success">
                        <%= link_to '<i class="fa fa-pencil " style="color:white;font-weight:bold"></i>'.html_safe, edit_dynamic_content_path(dynamic_content) %>
                        </span>&nbsp;
                        <span class="label label-danger">
                        <%= link_to '<i class="fa fa-trash-o " style="color:white;font-weight:bold"></i>'.html_safe, dynamic_content, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </span></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                  <div class="text-center">Experience The Magic of Dynamic Contents In A Few Clicks! Create Your First Dynamic Content!</div>
                <% end %>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
  </section>
  <!-- /.content -->

<script type="text/javascript">
$(document).ready(function() { 
  var aoColumnDefs = [
        {
            "aTargets": [3,4],
            "bSortable": false
        }
    ];
    var dataTable = $('#dynamic_content_table').dataTable({
      "aoColumnDefs": aoColumnDefs,
      "pageLength": 25
    });
});
</script>

<script>
$(document).ready(function(){
  $('#info_popover').popover()
});

</script>