<%= form_for(@examination) do |f| %>
  <% if @examination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@examination.errors.count, "error") %> prohibited this examination from being saved:</h2>

      <ul>
      <% @examination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :exam_no %><br>
    <%= f.text_field :exam_no,:class=>"form-control", :required => true %>
  </div>
  <div class="field">
    <%= f.label :exam_name %><br>
    <%= f.text_field :exam_name,:class=>"form-control", :required => true %>
  </div>
  <div class="field">
    <%= f.label :mark_type %><br>
    <%= f.select :mark_type, options_for_select([["Mark", "Mark"], ["Grade", "Grade"]]),{:prompt => "select"},{:class => "form-control" , :required => true} %>
  </div>
  <div class="field">
    <%= f.label :visibility %><br>
    <%= f.check_box :visibility %>
  </div><br/>
  <div class="actions">
    <%= f.submit "Save",:class => "btn btn-primary pull-right"  %>
  </div>
<% end %>
