<section class="content-header">
	<h1>
	  Examination
	  <small>Create, edit and view all examination</small>
    <span class="heading_page_loader"></span>
	</h1>
	<ol class="breadcrumb">
	  <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	  <li><%= link_to 'Examinations', examinations_path %></li>
	  <li><%= link_to @examination.exam_no, examination_path(@examination) %></li>
	  <li class="active">Edit</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Edit Examination</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
         <%= form_for(@examination) do |f| %>
		  <% if @examination.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@examination.errors.count, "error") %> prohibited this examination from being saved:</h2>

		      <ul>
		      <% @examination.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <div class="field">
		    <%= f.label :exam_no %><br>
		    <%= f.text_field :exam_no,:class=>"form-control", :required => true %>
		  </div>
		  <div class="field">
		    <%= f.label :exam_name %><br>
		    <%= f.text_field :exam_name,:class=>"form-control", :required => true %>
		  </div>
		  <div class="field">
		    <%= f.label :mark_type %><br>
            <%= f.select :mark_type, options_for_select([["Mark", "Mark"], ["Grade", "Grade"]]),{:prompt => "select"},{:class => "form-control", :required => true} %>
		  </div>
		  <div class="field">
		    <%= f.label :visibility %><br>
		    <%= f.check_box :visibility,:class=>"form-control" %>
		  </div>
		  <div class="actions">
		    <%= f.submit "Update",:class => "btn btn-primary pull-right"  %>
		  </div>
		<% end %>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
</section>
<!-- /.content -->

<script type="text/javascript">
if (typeof CKEDITOR != 'undefined') { CKEDITOR.replace('sometext'); }
</script>

<script>
$(function() { $('form[data-validate]').validate(); })
</script>