<section class="content-header">
  <h1>
    Examination
    <small>Create, edit and view all examination</small>
    <span class="heading_page_loader"></span>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><%= link_to 'Examination', examinations_path %></li>
    <li class="active"><%= @examination.exam_no %></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"><%= @examination.exam_no %></h3>
          <div class = "pull-right">
          
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="">
              Import Data from Acceptable Spreadsheet Formats. The system can accept Excel and CSV Formats. Please make sure you upload the file with the following fields:<b> subject_id, roll_number, grade, total_marks, mark_obtained</b><br/><br/>
              <div style="text-align:center">
                <%= form_tag import_exam_result_subjects_path, multipart: true,:style => "" do %>
                  <%= hidden_field_tag :examination_id,@examination.id%>
                  <%= file_field_tag :file,:style => "display:inline !important;", :required => true %><i></i><br/><br/>
                  <%= submit_tag "Import",:class => "btn btn-primary btn-xs" %>&nbsp;&nbsp;&nbsp;
                <% end %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>