<section class="content-header">
  <h1>
    Examination
    <small>Create, edit and view all examination</small>
    <span class="heading_page_loader"></span>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= dashboards_path %>"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><%= link_to 'Examination', examinations_path %></li>
    <li class="active"><%= @examination.exam_no %></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <%= render partial: "layouts/shared/flash_msg" %>
  <div class="row">
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"><%= @examination.exam_no %></h3>
          <div class = "pull-right">
          <%= link_to 'IMPORT EXAM RESULTS', examination_import_exam_results_path(@examination.id),:style => "float:right;margin-left:10px;",:class => "btn btn-xs btn-primary" %> &nbsp;&nbsp;&nbsp;
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_examination_path(@examination),:style=>"float:right;" %>
          <% if @examination.visibility == true %>
            <span class="badge bg-green">Active</span>
          <% else %>
            <span class="badge bg-yellow">Inactive</span>
          <% end %>&nbsp;&nbsp;&nbsp;
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <p>
			  <strong>Exam no:</strong>
			  <%= @examination.exam_no %>
			</p>

			<p>
			  <strong>Exam name:</strong>
			  <%= @examination.exam_name %>
			</p>

			<p>
			  <strong>Mark type:</strong>
			  <%= @examination.mark_type %>
			</p>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!--/.col (right) -->
  </div>
  <div class="row">
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-12">
        <!-- general form elements disabled -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">All Examinations</h3>
            <%= link_to 'CREATE NEW EXAM RESULT', new_examination_exam_result_path(@examination),:style => "float:right",:class => "btn btn-xs btn-primary" %>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <% if @exam_results.present? %>
            <table class="table table-bordered table-hover dataTable" id="examination_table">
              <thead>
                <tr>
                  <th>Examination</th>
			      <th>Student</th>
			      <th>Total score</th>
			      <th>Result status</th>
			      <th>Published at</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @exam_results.each do |exam_result| %>
                  <tr>
                    <td><%= exam_result.examination.exam_no %></td>
			        <td><%= exam_result.student.roll_number %></td>
			        <td><%= exam_result.total_score %></td>
			        <td><%= exam_result.result_status %></td>
			        <td><%= exam_result.published_at %></td>
                    <td>
                    <span class="label label-info">
                    <%= link_to '<i class="fa fa-eye " style="color:white;font-weight:bold"></i>'.html_safe, examination_exam_result_path(@examination, exam_result) %>
                    </span>&nbsp;
                    <span class="label label-success">
                    <%= link_to '<i class="fa fa-pencil " style="color:white;font-weight:bold"></i>'.html_safe, edit_examination_exam_result_path(@examination, exam_result) %>
                    </span>&nbsp;
                    <span class="label label-danger">
                    <%= link_to '<i class="fa fa-trash-o " style="color:white;font-weight:bold"></i>'.html_safe, examination_exam_result_path(@examination, exam_result), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </span></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <% else %>
              <div class="text-center">Experience The Magic of Examination In A Few Clicks! Create Your First Examination!</div>
            <% end %>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!--/.col (right) -->
    </div>
</section>
<!-- /.content -->