<!DOCTYPE html>
<html>
  <% if controller_name == "static_pages"  %>
    <head>
      <title><%= yield(:title )|| general.page_title %></title>
      <meta name="description" content="<%= yield(:meta_description) ||  general.meta_description %>">
      <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
      <%  if general.present? %>
        <%= favicon_link_tag general.favicon.url %>
      <% else %>
          <%= favicon_link_tag 'favicon.ico' %>
      <% end %>
      <%= stylesheet_link_tag "common", media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <%= yield(:head) %>
    </head>
    <body class=""> 
	    <%= render "layouts/shared/login_header" %>
	    <div class="container" style="min-height:425px;">
	    <%= render partial: "layouts/shared/flash_msg" %> 
	    <%= yield %>
	    </div>
	    <%= render "layouts/shared/login_footer" %>
	</body>
  <% else %>
    <% @path = request.path.split("/")[1].to_s %>
    <% if find_user_role == "admin" || @path == "admins"  %>
	    <head>
	      <title>Rabbitscms</title>
	      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	      <%= csrf_meta_tags %>
	      <%= yield(:head) %>
	    </head>
	    <% if admin_signed_in? %>
	      <body class="skin-blue sidebar-mini wysihtml5-supported">
	          <!-- Site wrapper -->
	          <div class="wrapper" style="min-height:650px">
	            <%= render "layouts/shared/header" %>
	            <%= render "layouts/shared/sidebar" %>
	            <!-- =============================================== -->

	              <!-- Content Wrapper. Contains page content -->
	              <div class="content-wrapper" style="min-height:580px">
	                <% if admin_signed_in? %>
	                <% else %>
	                  <%= link_to "Sign up", new_admin_registration_path %> |
	                  <%= link_to "Login", new_admin_session_path %>
	                <% end %>
	                <%= yield %>
	              </div>
	            <%= render "layouts/shared/footer" %>
	            <%= render "layouts/shared/right_sidebar" %>
	          </div>
	      </body>
	    <% else %>
	      <meta name="robots" content="noindex, nofollow">
	      <body class="hold-transition login-page"> 
	        <%= render partial: "layouts/shared/flash_msg" %> 
	        <%= yield %>
	        <%= render "layouts/shared/devise_footer" %>
	      </body>
	    <% end %>
	<% else %>
	    <% if user_signed_in? %>
	    <head>
	      <title>Student Dashboard</title>
	      <%= stylesheet_link_tag    'student', media: 'all', 'data-turbolinks-track' => true %>
	      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	      <%= csrf_meta_tags %>
	      <%= yield(:head) %>
	    </head>
	    <body class="">
		    <%= render "layouts/shared/student_dashboard_header" %>
		    <div class="dashboard-container">
              <div class="container">
		        <%= render "layouts/shared/student_dashboard_sidebar" %>
		        <%= render "layouts/shared/student_dashboard_subnavbar" %>
	            <%= yield %>
		        <%= render "layouts/shared/student_dashboard_footer" %>
	          </div>
	        </div>
          </body>
	    <% else %>
		    <head>
		      <title>Student Dashboard</title>
		      <%= stylesheet_link_tag    'common', media: 'all', 'data-turbolinks-track' => true %>
		      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		      <%= csrf_meta_tags %>
		      <%= yield(:head) %>
		    </head>
	      <meta name="robots" content="noindex, nofollow">
	      <body class=""> 
		    <%= render "layouts/shared/login_header" %>
		    <div class="container" style="min-height:425px;">
	        <%= render partial: "layouts/shared/flash_msg" %> 
	        <%= yield %>
	        </div>
		    <%= render "layouts/shared/login_footer" %>
	      </body>
	    <% end %>
	<% end %>
  <% end %>
</html>

