<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper">
  
  <!-- Left Sidebar Start -->
  <div class="left-sidebar">
    
    <!-- Row Start -->
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="widget no-margin">
          <div class="widget-header">
            <div class="title">
              Edit Profile
            </div>
            <span class="tools">
              <i class="fa fa-cogs"></i>
            </span>
          </div>
          <div class="widget-body">
            <div class="row">
              <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put , :class => "form-horizontal" }) do |f| %>
                  <h5>
                    Profile Information
                  </h5>
                  <hr>
                  <%= devise_error_messages! %>
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>
                  <div class="form-group">
                    <label for="emailId" class="col-sm-3 control-label">Email ID</label>
                    <div class="col-sm-9">
                      <%= f.text_field :email, autofocus: true, :class=> "form-control" , :placeholder=> "Email ID", :required => true %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                      <%= f.password_field :password, :class=> "form-control" , :placeholder=> "Password", :required => true %>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword1" class="col-sm-3 control-label">Confirm Password</label>
                    <div class="col-sm-9">
                      <%= f.password_field :password_confirmation, :class=> "form-control" , :placeholder=> "Confirm Password", :required => true %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputPassword1" class="col-sm-3 control-label">Current Password</label>
                    <div class="col-sm-9">
                      <%= f.password_field :current_password, :class=> "form-control" , :placeholder=> "Current Password", :required => true %>
                      <i>(we need your current password to confirm your changes)</i>
                    </div>
                  </div>
                  <div class="form-actions">
                    <%= f.submit "Update",:class=> "btn btn-info pull-right" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row End -->

  </div>
  <!-- Left Sidebar End -->

  <!-- Right Sidebar Start -->
  <div class="right-sidebar">

  </div>
  <!-- Right Sidebar End -->

</div>
<!-- Dashboard Wrapper End -->