<div class="row">
  <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12" style="padding-top:4%;">
    <% if general.home_page_content.present? %>
      <%= general.home_page_content.html_safe %>
    <% end %>
  </div>
  <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
    <div class="" style="padding-top:18px;">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => {:class => "login-wrapper" }) do |f| %>
        <%= devise_error_messages! %>
        <div class="header">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <h3>Student's Registration</h3><br/>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="form-group">
            <label for="rollNumber">Roll Number</label>
            <%= f.text_field :roll_number, autofocus: true,:class => "form-control",:placeholder => "Roll Number", :required => true %>
          </div>
          <div class="form-group">
            <label for="rollNumber">Email</label>
            <%= f.text_field :email, autofocus: true,:class => "form-control",:placeholder => "Email", :required => true %>
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off",:class => "form-control",:placeholder =>"Password", :required => true %>
          </div>
          <div class="form-group">
            <label for="PasswordConfirmation">Password Confirmation</label>
            <%= f.password_field :password_confirmation, autocomplete: "off",:class => "form-control",:placeholder =>"Retype Password", :required => true %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Register", :class=> "btn btn-success" %>
          <%= link_to "Login", new_session_path(resource_name) %> 
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>